//----------------------------------------------------
// MOFTONE EX CC0 by Qrac
//----------------------------------------------------

$red-50: hsl(4, 75%, 95%) !default;
$red-100: hsl(4, 75%, 90%) !default;
$red-200: hsl(4, 75%, 83%) !default;
$red-300: hsl(4, 75%, 76%) !default;
$red-400: hsl(4, 75%, 69%) !default;
$red-500: hsl(4, 75%, 62%) !default;
$red-600: hsl(4, 75%, 55%) !default;
$red-700: hsl(4, 75%, 48%) !default;
$red-800: hsl(4, 75%, 41%) !default;
$red-900: hsl(4, 75%, 34%) !default;
$red-a100: hsl(4, 95%, 82%) !default;
$red-a200: hsl(4, 95%, 76%) !default;
$red-a400: hsl(4, 95%, 67%) !default;
$red-a700: hsl(4, 95%, 46%) !default;

$pink-50: hsl(340, 57%, 94%) !default;
$pink-100: hsl(340, 57%, 90%) !default;
$pink-200: hsl(340, 57%, 81%) !default;
$pink-300: hsl(340, 57%, 72%) !default;
$pink-400: hsl(340, 57%, 63%) !default;
$pink-500: hsl(340, 57%, 55%) !default;
$pink-600: hsl(340, 57%, 50%) !default;
$pink-700: hsl(340, 57%, 45%) !default;
$pink-800: hsl(340, 57%, 39%) !default;
$pink-900: hsl(340, 57%, 32%) !default;
$pink-a100: hsl(340, 77%, 82%) !default;
$pink-a200: hsl(340, 77%, 71%) !default;
$pink-a400: hsl(340, 77%, 61%) !default;
$pink-a700: hsl(340, 77%, 43%) !default;

$purple-50: hsl(291, 39%, 92%) !default;
$purple-100: hsl(291, 39%, 86%) !default;
$purple-200: hsl(291, 39%, 74%) !default;
$purple-300: hsl(291, 39%, 62%) !default;
$purple-400: hsl(291, 39%, 52%) !default;
$purple-500: hsl(291, 39%, 45%) !default;
$purple-600: hsl(291, 39%, 38%) !default;
$purple-700: hsl(291, 39%, 33%) !default;
$purple-800: hsl(291, 39%, 29%) !default;
$purple-900: hsl(291, 39%, 25%) !default;
$purple-a100: hsl(291, 59%, 77%) !default;
$purple-a200: hsl(291, 59%, 65%) !default;
$purple-a400: hsl(291, 59%, 52%) !default;
$purple-a700: hsl(291, 59%, 40%) !default;

$deep-purple-50: hsl(262, 32%, 92%) !default;
$deep-purple-100: hsl(262, 32%, 85%) !default;
$deep-purple-200: hsl(262, 32%, 75%) !default;
$deep-purple-300: hsl(262, 32%, 66%) !default;
$deep-purple-400: hsl(262, 32%, 57%) !default;
$deep-purple-500: hsl(262, 32%, 50%) !default;
$deep-purple-600: hsl(262, 32%, 45%) !default;
$deep-purple-700: hsl(262, 32%, 39%) !default;
$deep-purple-800: hsl(262, 32%, 33%) !default;
$deep-purple-900: hsl(262, 32%, 28%) !default;
$deep-purple-a100: hsl(262, 60%, 80%) !default;
$deep-purple-a200: hsl(262, 60%, 68%) !default;
$deep-purple-a400: hsl(262, 60%, 56%) !default;
$deep-purple-a700: hsl(262, 60%, 47%) !default;

$indigo-50: hsl(231, 32%, 92%) !default;
$indigo-100: hsl(231, 32%, 85%) !default;
$indigo-200: hsl(231, 32%, 75%) !default;
$indigo-300: hsl(231, 32%, 65%) !default;
$indigo-400: hsl(231, 32%, 57%) !default;
$indigo-500: hsl(231, 32%, 51%) !default;
$indigo-600: hsl(231, 32%, 45%) !default;
$indigo-700: hsl(231, 32%, 40%) !default;
$indigo-800: hsl(231, 32%, 34%) !default;
$indigo-900: hsl(231, 32%, 29%) !default;
$indigo-a100: hsl(231, 60%, 78%) !default;
$indigo-a200: hsl(231, 60%, 64%) !default;
$indigo-a400: hsl(231, 60%, 56%) !default;
$indigo-a700: hsl(231, 60%, 47%) !default;

$blue-50: hsl(206, 64%, 92%) !default;
$blue-100: hsl(206, 64%, 85%) !default;
$blue-200: hsl(206, 64%, 78%) !default;
$blue-300: hsl(206, 64%, 70%) !default;
$blue-400: hsl(206, 64%, 64%) !default;
$blue-500: hsl(206, 64%, 57%) !default;
$blue-600: hsl(206, 64%, 50%) !default;
$blue-700: hsl(206, 64%, 43%) !default;
$blue-800: hsl(206, 64%, 36%) !default;
$blue-900: hsl(206, 64%, 30%) !default;
$blue-a100: hsl(206, 87%, 78%) !default;
$blue-a200: hsl(206, 87%, 68%) !default;
$blue-a400: hsl(206, 87%, 54%) !default;
$blue-a700: hsl(206, 87%, 40%) !default;

$light-blue-50: hsl(198, 73%, 92%) !default;
$light-blue-100: hsl(198, 73%, 85%) !default;
$light-blue-200: hsl(198, 73%, 77%) !default;
$light-blue-300: hsl(198, 73%, 68%) !default;
$light-blue-400: hsl(198, 73%, 62%) !default;
$light-blue-500: hsl(198, 73%, 51%) !default;
$light-blue-600: hsl(198, 73%, 46%) !default;
$light-blue-700: hsl(198, 73%, 40%) !default;
$light-blue-800: hsl(198, 73%, 34%) !default;
$light-blue-900: hsl(198, 73%, 30%) !default;
$light-blue-a100: hsl(198, 91%, 78%) !default;
$light-blue-a200: hsl(198, 91%, 65%) !default;
$light-blue-a400: hsl(198, 91%, 51%) !default;
$light-blue-a700: hsl(198, 91%, 40%) !default;

$cyan-50: hsl(187, 75%, 92%) !default;
$cyan-100: hsl(187, 75%, 85%) !default;
$cyan-200: hsl(187, 75%, 75%) !default;
$cyan-300: hsl(187, 75%, 65%) !default;
$cyan-400: hsl(187, 75%, 55%) !default;
$cyan-500: hsl(187, 75%, 45%) !default;
$cyan-600: hsl(187, 75%, 40%) !default;
$cyan-700: hsl(187, 75%, 36%) !default;
$cyan-800: hsl(187, 75%, 32%) !default;
$cyan-900: hsl(187, 75%, 27%) !default;
$cyan-a100: hsl(187, 86%, 78%) !default;
$cyan-a200: hsl(187, 86%, 65%) !default;
$cyan-a400: hsl(187, 86%, 47%) !default;
$cyan-a700: hsl(187, 86%, 38%) !default;

$teal-50: #e6f2f1 !default;
$teal-100: #c1dfdc !default;
$teal-200: #93c7c2 !default;
$teal-300: #64afa8 !default;
$teal-400: #39a298 !default;
$teal-500: #159185 !default;
$teal-600: #13857a !default;
$teal-700: #11776b !default;
$teal-800: #0f695e !default;
$teal-900: #0c5145 !default;
$teal-a100: #bff6ea !default;
$teal-a200: #85eed5 !default;
$teal-a400: #48cdac !default;
$teal-a700: #1ab59f !default;

$green-50: #edf6ed !default;
$green-100: #d5e9d5 !default;
$green-200: #b4d7b5 !default;
$green-300: #91c694 !default;
$green-400: #78b97b !default;
$green-500: #5ead61 !default;
$green-600: #50a254 !default;
$green-700: #449247 !default;
$green-800: #39823c !default;
$green-900: #236528 !default;
$green-a100: #cff0d8 !default;
$green-a200: #8adfb5 !default;
$green-a400: #1fd77d !default;
$green-a700: #1bbc5e !default;

$light-green-50: #f3f8ee !default;
$light-green-100: #e3efd6 !default;
$light-green-200: #cce1b4 !default;
$light-green-300: #b5d392 !default;
$light-green-400: #a3c977 !default;
$light-green-500: #92bf5d !default;
$light-green-600: #83b351 !default;
$light-green-700: #70a244 !default;
$light-green-800: #5d8f3a !default;
$light-green-900: #3b7027 !default;
$light-green-a100: #d2f3ab !default;
$light-green-a200: #b8ec7b !default;
$light-green-a400: #81e130 !default;
$light-green-a700: #72c83b !default;

$lime-50: #f7f9e9 !default;
$lime-100: #f0f2d4 !default;
$lime-200: #e3e9b1 !default;
$lime-300: #d6de8d !default;
$lime-400: #ccd672 !default;
$lime-500: #c3ce56 !default;
$lime-600: #b5bc50 !default;
$lime-700: #aaae40 !default;
$lime-800: #9b9a37 !default;
$lime-900: #827926 !default;
$lime-a100: #eaf19e !default;
$lime-a200: #dde966 !default;
$lime-a400: #b9e12d !default;
$lime-a700: #aada1f !default;

$yellow-50: #fdfce9 !default;
$yellow-100: #fcf8d7 !default;
$yellow-200: #f9f2b3 !default;
$yellow-300: #f6eb8e !default;
$yellow-400: #f4e673 !default;
$yellow-500: #f1e258 !default;
$yellow-600: #efd252 !default;
$yellow-700: #ecbe4b !default;
$yellow-800: #eaaa44 !default;
$yellow-900: #e08e45 !default;
$yellow-a100: #f5f5a6 !default;
$yellow-a200: #e7e727 !default;
$yellow-a400: #e7d727 !default;
$yellow-a700: #e7c827 !default;

$amber-50: #fdf8e9 !default;
$amber-100: #f9edc8 !default;
$amber-200: #f4de9c !default;
$amber-300: #efd06e !default;
$amber-400: #ebc44b !default;
$amber-500: #e8b92e !default;
$amber-600: #e7ae27 !default;
$amber-700: #e7a027 !default;
$amber-800: #e79327 !default;
$amber-900: #e77b27 !default;
$amber-a100: #f4e19a !default;
$amber-a200: #edd061 !default;
$amber-a400: #e7bb27 !default;
$amber-a700: #e7a827 !default;

$orange-50: #fcf4e8 !default;
$orange-100: #f9e5c7 !default;
$orange-200: #f4d09a !default;
$orange-300: #efba6d !default;
$orange-400: #eba949 !default;
$orange-500: #e79a27 !default;
$orange-600: #e79024 !default;
$orange-700: #e6831e !default;
$orange-800: #e57519 !default;
$orange-900: #dd5e19 !default;
$orange-a100: #f4d39a !default;
$orange-a200: #edb061 !default;
$orange-a400: #e79427 !default;
$orange-a700: #e77927 !default;

$deep-orange-50: #f9efee !default;
$deep-orange-100: #fadad0 !default;
$deep-orange-200: #f6bcaa !default;
$deep-orange-300: #f19d82 !default;
$deep-orange-400: #ee8564 !default;
$deep-orange-500: #ea6d46 !default;
$deep-orange-600: #df6843 !default;
$deep-orange-700: #d0613f !default;
$deep-orange-800: #cd5530 !default;
$deep-orange-900: #b84623 !default;
$deep-orange-a100: #f1b19d !default;
$deep-orange-a200: #e98565 !default;
$deep-orange-a400: #e1582d !default;
$deep-orange-a700: #cf411e !default;

$brown-50: #f0eeed !default;
$brown-100: #dbd5d3 !default;
$brown-200: #beb4b1 !default;
$brown-300: #a1938e !default;
$brown-400: #8e7971 !default;
$brown-500: #786158 !default;
$brown-600: #6d5750 !default;
$brown-700: #5e4b45 !default;
$brown-800: #513f3b !default;
$brown-900: #42312e !default;

$grey-50: #fafafa !default;
$grey-100: #f5f5f5 !default;
$grey-200: #eeeeee !default;
$grey-300: #e0e0e0 !default;
$grey-400: #bdbdbd !default;
$grey-500: #9e9e9e !default;
$grey-600: #757575 !default;
$grey-700: #616161 !default;
$grey-800: #424242 !default;
$grey-900: #212121 !default;

$blue-grey-50: #edeff0 !default;
$blue-grey-100: #d1d7da !default;
$blue-grey-200: #b3bdc2 !default;
$blue-grey-300: #95a2a9 !default;
$blue-grey-400: #7e8e96 !default;
$blue-grey-500: #667b85 !default;
$blue-grey-600: #596c75 !default;
$blue-grey-700: #495960 !default;
$blue-grey-800: #3a464c !default;
$blue-grey-900: #283136 !default;

$black: #000000 !default;
$white: #ffffff !default;
