//----------------------------------------------------
//- Base: Config
//----------------------------------------------------

-
  var site = {
    title : "Qrac GitHub",
    desc : "Material Design Colorをベースに、もふもふな優しい色を生成しました。",
    body : [ "moftone", "moftone-demo" ],
    url : "https://qrac.github.io/moftone"
  }

-
  var pages = {
    index : {
      title : "MOFTONE",
      desc : "Material Design Colorをベースに、もふもふな優しい色を生成しました。",
      body : [ "moftone-demo-index" ],
      agent : "rwd",
      url : "index.html",
      ogp : "ogp.png",
      login : "no"
    }
  }

-
  var path = {
    img : "img",
    font : "font",
    css : "css",
    js : "js"
  }

-
  var twitter = {
    id : "Qrac_JP",
    url : "https://twitter.com"
  }

-
  var github = {
    id : "qrac",
    repo : "moftone",
    ver : "v3.0.0",
    license : "CC0 1.0 Public Domain",
    url : "https://github.com"
  }

-
  var color = {
    c01 : {
      order : "01",
      name : "MOF Red",
      id : "red",
      amount : 14
    },
    c02 : {
      order : "02",
      name : "MOF Pink",
      id : "pink",
      amount : 14
    },
    c03 : {
      order : "03",
      name : "MOF Purple",
      id : "purple",
      amount : 14
    },
    c04 : {
      order : "04",
      name : "MOF Deep Purple",
      id : "deep-purple",
      amount : 14
    },
    c05 : {
      order : "05",
      name : "MOF Indigo",
      id : "indigo",
      amount : 14
    },
    c06 : {
      order : "06",
      name : "MOF Blue",
      id : "blue",
      amount : 14
    },
    c07 : {
      order : "07",
      name : "MOF Light Blue",
      id : "light-blue",
      amount : 14
    },
    c08 : {
      order : "08",
      name : "MOF Cyan",
      id : "cyan",
      amount : 14
    },
    c09 : {
      order : "09",
      name : "MOF Teal",
      id : "teal",
      amount : 14
    },
    c10 : {
      order : "10",
      name : "MOF Green",
      id : "green",
      amount : 14
    },
    c11 : {
      order : "11",
      name : "MOF Light Green",
      id : "light-green",
      amount : 14
    },
    c12 : {
      order : "12",
      name : "MOF Lime",
      id : "lime",
      amount : 14
    },
    c13 : {
      order : "13",
      name : "MOF Yellow",
      id : "yellow",
      amount : 14
    },
    c14 : {
      order : "14",
      name : "MOF Amber",
      id : "amber",
      amount : 14
    },
    c15 : {
      order : "15",
      name : "MOF Orange",
      id : "orange",
      amount : 14
    },
    c16 : {
      order : "16",
      name : "MOF Deep Orange",
      id : "deep-orange",
      amount : 14
    },
    c17 : {
      order : "17",
      name : "MOF Brown",
      id : "brown",
      amount : 8
    },
    c18 : {
      order : "18",
      name : "MOF Grey",
      id : "grey",
      amount : 8
    },
    c19 : {
      order : "19",
      name : "MOF Blue Grey",
      id : "blue-grey",
      amount : 8
    }
  }