//----------------------------------------------------
// Variable: Break Point
//----------------------------------------------------

// 5W
$screen-width-mobile: 0px !default;
$screen-width-fablet: 544px !default;
$screen-width-tablet: 768px !default;
$screen-width-desktop: 1024px !default;
$screen-width-wide: 1200px !default;
