//----------------------------------------------------
//  Title: MOFTONE
//  License: CC0 1.0 Public Domain
//  GitHub: https://github.com/qrac/moftone/
//  ---
//  Author: Qrac
//  Author WebSite: https://qrac.jp
//  Author Contact: https://twitter.com/Qrac_jp
//----------------------------------------------------

$mt-red-50: lighten(desaturate(#ffebee, 25%),3%) !default;
$mt-red-100: lighten(desaturate(#ffcdd2, 25%),3%) !default;
$mt-red-200: lighten(desaturate(#ef9a9a, 25%),3%) !default;
$mt-red-300: lighten(desaturate(#e57373, 25%),3%) !default;
$mt-red-400: lighten(desaturate(#ef5350, 25%),3%) !default;
$mt-red-500: lighten(desaturate(#f44336, 25%),3%) !default;
$mt-red-600: lighten(desaturate(#e53935, 25%),3%) !default;
$mt-red-700: lighten(desaturate(#d32f2f, 25%),3%) !default;
$mt-red-800: lighten(desaturate(#c62828, 25%),3%) !default;
$mt-red-900: lighten(desaturate(#b71c1c, 25%),3%) !default;
$mt-red-a100: lighten(desaturate(#ff8a80, 35%),3%) !default;
$mt-red-a200: lighten(desaturate(#ff5252, 35%),3%) !default;
$mt-red-a400: lighten(desaturate(#ff1744, 35%),3%) !default;
$mt-red-a700: lighten(desaturate(#d50000, 35%),3%) !default;

$mt-pink-50: lighten(desaturate(#fce4ec, 25%),3%) !default;
$mt-pink-100: lighten(desaturate(#f8bbd0, 25%),3%) !default;
$mt-pink-200: lighten(desaturate(#f48fb1, 25%),3%) !default;
$mt-pink-300: lighten(desaturate(#f06292, 25%),3%) !default;
$mt-pink-400: lighten(desaturate(#ec407a, 25%),3%) !default;
$mt-pink-500: lighten(desaturate(#e91e63, 25%),3%) !default;
$mt-pink-600: lighten(desaturate(#d81b60, 25%),3%) !default;
$mt-pink-700: lighten(desaturate(#c2185b, 25%),3%) !default;
$mt-pink-800: lighten(desaturate(#ad1457, 25%),3%) !default;
$mt-pink-900: lighten(desaturate(#880e4f, 25%),3%) !default;
$mt-pink-a100: lighten(desaturate(#ff80ab, 35%),3%) !default;
$mt-pink-a200: lighten(desaturate(#ff4081, 35%),3%) !default;
$mt-pink-a400: lighten(desaturate(#f50057, 35%),3%) !default;
$mt-pink-a700: lighten(desaturate(#c51162, 35%),3%) !default;

$mt-purple-50: lighten(desaturate(#f3e5f5, 25%),3%) !default;
$mt-purple-100: lighten(desaturate(#e1bee7, 25%),3%) !default;
$mt-purple-200: lighten(desaturate(#ce93d8, 25%),3%) !default;
$mt-purple-300: lighten(desaturate(#ba68c8, 25%),3%) !default;
$mt-purple-400: lighten(desaturate(#ab47bc, 25%),3%) !default;
$mt-purple-500: lighten(desaturate(#9c27b0, 25%),3%) !default;
$mt-purple-600: lighten(desaturate(#8e24aa, 25%),3%) !default;
$mt-purple-700: lighten(desaturate(#7b1fa2, 25%),3%) !default;
$mt-purple-800: lighten(desaturate(#6a1b9a, 25%),3%) !default;
$mt-purple-900: lighten(desaturate(#4a148c, 25%),3%) !default;
$mt-purple-a100: lighten(desaturate(#ea80fc, 35%),3%) !default;
$mt-purple-a200: lighten(desaturate(#e040fb, 35%),3%) !default;
$mt-purple-a400: lighten(desaturate(#d500f9, 35%),3%) !default;
$mt-purple-a700: lighten(desaturate(#aa00ff, 35%),3%) !default;

$mt-deep-purple-50: lighten(desaturate(#ede7f6, 25%),3%) !default;
$mt-deep-purple-100: lighten(desaturate(#d1c4e9, 25%),3%) !default;
$mt-deep-purple-200: lighten(desaturate(#b39ddb, 25%),3%) !default;
$mt-deep-purple-300: lighten(desaturate(#9575cd, 25%),3%) !default;
$mt-deep-purple-400: lighten(desaturate(#7e57c2, 25%),3%) !default;
$mt-deep-purple-500: lighten(desaturate(#673ab7, 25%),3%) !default;
$mt-deep-purple-600: lighten(desaturate(#5e35b1, 25%),3%) !default;
$mt-deep-purple-700: lighten(desaturate(#512da8, 25%),3%) !default;
$mt-deep-purple-800: lighten(desaturate(#4527a0, 25%),3%) !default;
$mt-deep-purple-900: lighten(desaturate(#311b92, 25%),3%) !default;
$mt-deep-purple-a100: lighten(desaturate(#b388ff, 35%),3%) !default;
$mt-deep-purple-a200: lighten(desaturate(#7c4dff, 35%),3%) !default;
$mt-deep-purple-a400: lighten(desaturate(#651fff, 35%),3%) !default;
$mt-deep-purple-a700: lighten(desaturate(#6200ea, 35%),3%) !default;

$mt-indigo-50: lighten(desaturate(#e8eaf6, 25%),3%) !default;
$mt-indigo-100: lighten(desaturate(#c5cae9, 25%),3%) !default;
$mt-indigo-200: lighten(desaturate(#9fa8da, 25%),3%) !default;
$mt-indigo-300: lighten(desaturate(#7986cb, 25%),3%) !default;
$mt-indigo-400: lighten(desaturate(#5c6bc0, 25%),3%) !default;
$mt-indigo-500: lighten(desaturate(#3f51b5, 25%),3%) !default;
$mt-indigo-600: lighten(desaturate(#3949ab, 25%),3%) !default;
$mt-indigo-700: lighten(desaturate(#303f9f, 25%),3%) !default;
$mt-indigo-800: lighten(desaturate(#283593, 25%),3%) !default;
$mt-indigo-900: lighten(desaturate(#1a237e, 25%),3%) !default;
$mt-indigo-a100: lighten(desaturate(#8c9eff, 35%),3%) !default;
$mt-indigo-a200: lighten(desaturate(#536dfe, 35%),3%) !default;
$mt-indigo-a400: lighten(desaturate(#3d5afe, 35%),3%) !default;
$mt-indigo-a700: lighten(desaturate(#304ffe, 35%),3%) !default;

$mt-blue-50: lighten(desaturate(#e3f2fd, 25%),3%) !default;
$mt-blue-100: lighten(desaturate(#bbdefb, 25%),3%) !default;
$mt-blue-200: lighten(desaturate(#90caf9, 25%),3%) !default;
$mt-blue-300: lighten(desaturate(#64b5f6, 25%),3%) !default;
$mt-blue-400: lighten(desaturate(#42a5f5, 25%),3%) !default;
$mt-blue-500: lighten(desaturate(#2196f3, 25%),3%) !default;
$mt-blue-600: lighten(desaturate(#1e88e5, 25%),3%) !default;
$mt-blue-700: lighten(desaturate(#1976d2, 25%),3%) !default;
$mt-blue-800: lighten(desaturate(#1565c0, 25%),3%) !default;
$mt-blue-900: lighten(desaturate(#0d47a1, 25%),3%) !default;
$mt-blue-a100: lighten(desaturate(#82b1ff, 35%),3%) !default;
$mt-blue-a200: lighten(desaturate(#448aff, 35%),3%) !default;
$mt-blue-a400: lighten(desaturate(#2979ff, 35%),3%) !default;
$mt-blue-a700: lighten(desaturate(#2962ff, 35%),3%) !default;

$mt-light-blue-50: lighten(desaturate(#e1f5fe, 25%),3%) !default;
$mt-light-blue-100: lighten(desaturate(#b3e5fc, 25%),3%) !default;
$mt-light-blue-200: lighten(desaturate(#81d4fa, 25%),3%) !default;
$mt-light-blue-300: lighten(desaturate(#4fc3f7, 25%),3%) !default;
$mt-light-blue-400: lighten(desaturate(#29b6f6, 25%),3%) !default;
$mt-light-blue-500: lighten(desaturate(#03a9f4, 25%),3%) !default;
$mt-light-blue-600: lighten(desaturate(#039be5, 25%),3%) !default;
$mt-light-blue-700: lighten(desaturate(#0288d1, 25%),3%) !default;
$mt-light-blue-800: lighten(desaturate(#0277bd, 25%),3%) !default;
$mt-light-blue-900: lighten(desaturate(#01579b, 25%),3%) !default;
$mt-light-blue-a100: lighten(desaturate(#80d8ff, 35%),3%) !default;
$mt-light-blue-a200: lighten(desaturate(#40c4ff, 35%),3%) !default;
$mt-light-blue-a400: lighten(desaturate(#00b0ff, 35%),3%) !default;
$mt-light-blue-a700: lighten(desaturate(#0091ea, 35%),3%) !default;

$mt-cyan-50: lighten(desaturate(#e0f7fa, 25%),3%) !default;
$mt-cyan-100: lighten(desaturate(#b2ebf2, 25%),3%) !default;
$mt-cyan-200: lighten(desaturate(#80deea, 25%),3%) !default;
$mt-cyan-300: lighten(desaturate(#4dd0e1, 25%),3%) !default;
$mt-cyan-400: lighten(desaturate(#26c6da, 25%),3%) !default;
$mt-cyan-500: lighten(desaturate(#00bcd4, 25%),3%) !default;
$mt-cyan-600: lighten(desaturate(#00acc1, 25%),3%) !default;
$mt-cyan-700: lighten(desaturate(#0097a7, 25%),3%) !default;
$mt-cyan-800: lighten(desaturate(#00838f, 25%),3%) !default;
$mt-cyan-900: lighten(desaturate(#006064, 25%),3%) !default;
$mt-cyan-a100: lighten(desaturate(#84ffff, 35%),3%) !default;
$mt-cyan-a200: lighten(desaturate(#18ffff, 35%),3%) !default;
$mt-cyan-a400: lighten(desaturate(#00e5ff, 35%),3%) !default;
$mt-cyan-a700: lighten(desaturate(#00b8d4, 35%),3%) !default;

$mt-teal-50: lighten(desaturate(#e0f2f1, 25%),3%) !default;
$mt-teal-100: lighten(desaturate(#b2dfdb, 25%),3%) !default;
$mt-teal-200: lighten(desaturate(#80cbc4, 25%),3%) !default;
$mt-teal-300: lighten(desaturate(#4db6ac, 25%),3%) !default;
$mt-teal-400: lighten(desaturate(#26a69a, 25%),3%) !default;
$mt-teal-500: lighten(desaturate(#009688, 25%),3%) !default;
$mt-teal-600: lighten(desaturate(#00897b, 25%),3%) !default;
$mt-teal-700: lighten(desaturate(#00796b, 25%),3%) !default;
$mt-teal-800: lighten(desaturate(#00695c, 25%),3%) !default;
$mt-teal-900: lighten(desaturate(#004d40, 25%),3%) !default;
$mt-teal-a100: lighten(desaturate(#a7ffeb, 35%),3%) !default;
$mt-teal-a200: lighten(desaturate(#64ffda, 35%),3%) !default;
$mt-teal-a400: lighten(desaturate(#1de9b6, 35%),3%) !default;
$mt-teal-a700: lighten(desaturate(#00bfa5, 35%),3%) !default;

$mt-green-50: lighten(desaturate(#e8f5e9, 25%),3%) !default;
$mt-green-100: lighten(desaturate(#c8e6c9, 25%),3%) !default;
$mt-green-200: lighten(desaturate(#a5d6a7, 25%),3%) !default;
$mt-green-300: lighten(desaturate(#81c784, 25%),3%) !default;
$mt-green-400: lighten(desaturate(#66bb6a, 25%),3%) !default;
$mt-green-500: lighten(desaturate(#4caf50, 25%),3%) !default;
$mt-green-600: lighten(desaturate(#43a047, 25%),3%) !default;
$mt-green-700: lighten(desaturate(#388e3c, 25%),3%) !default;
$mt-green-800: lighten(desaturate(#2e7d32, 25%),3%) !default;
$mt-green-900: lighten(desaturate(#1b5e20, 25%),3%) !default;
$mt-green-a100: lighten(desaturate(#b9f6ca, 35%),3%) !default;
$mt-green-a200: lighten(desaturate(#69f0ae, 35%),3%) !default;
$mt-green-a400: lighten(desaturate(#00e676, 35%),3%) !default;
$mt-green-a700: lighten(desaturate(#00c853, 35%),3%) !default;

$mt-light-green-50: lighten(desaturate(#f1f8e9, 25%),3%) !default;
$mt-light-green-100: lighten(desaturate(#dcedc8, 25%),3%) !default;
$mt-light-green-200: lighten(desaturate(#c5e1a5, 25%),3%) !default;
$mt-light-green-300: lighten(desaturate(#aed581, 25%),3%) !default;
$mt-light-green-400: lighten(desaturate(#9ccc65, 25%),3%) !default;
$mt-light-green-500: lighten(desaturate(#8bc34a, 25%),3%) !default;
$mt-light-green-600: lighten(desaturate(#7cb342, 25%),3%) !default;
$mt-light-green-700: lighten(desaturate(#689f38, 25%),3%) !default;
$mt-light-green-800: lighten(desaturate(#558b2f, 25%),3%) !default;
$mt-light-green-900: lighten(desaturate(#33691e, 25%),3%) !default;
$mt-light-green-a100: lighten(desaturate(#ccff90, 35%),3%) !default;
$mt-light-green-a200: lighten(desaturate(#b2ff59, 35%),3%) !default;
$mt-light-green-a400: lighten(desaturate(#76ff03, 35%),3%) !default;
$mt-light-green-a700: lighten(desaturate(#64dd17, 35%),3%) !default;

$mt-lime-50: lighten(desaturate(#f9fbe7, 25%),3%) !default;
$mt-lime-100: lighten(desaturate(#f0f4c3, 25%),3%) !default;
$mt-lime-200: lighten(desaturate(#e6ee9c, 25%),3%) !default;
$mt-lime-300: lighten(desaturate(#dce775, 25%),3%) !default;
$mt-lime-400: lighten(desaturate(#d4e157, 25%),3%) !default;
$mt-lime-500: lighten(desaturate(#cddc39, 25%),3%) !default;
$mt-lime-600: lighten(desaturate(#c0ca33, 25%),3%) !default;
$mt-lime-700: lighten(desaturate(#afb42b, 25%),3%) !default;
$mt-lime-800: lighten(desaturate(#9e9d24, 25%),3%) !default;
$mt-lime-900: lighten(desaturate(#827717, 25%),3%) !default;
$mt-lime-a100: lighten(desaturate(#f4ff81, 35%),3%) !default;
$mt-lime-a200: lighten(desaturate(#eeff41, 35%),3%) !default;
$mt-lime-a400: lighten(desaturate(#c6ff00, 35%),3%) !default;
$mt-lime-a700: lighten(desaturate(#aeea00, 35%),3%) !default;

$mt-yellow-50: lighten(desaturate(#fffde7, 25%),3%) !default;
$mt-yellow-100: lighten(desaturate(#fff9c4, 25%),3%) !default;
$mt-yellow-200: lighten(desaturate(#fff59d, 25%),3%) !default;
$mt-yellow-300: lighten(desaturate(#fff176, 25%),3%) !default;
$mt-yellow-400: lighten(desaturate(#ffee58, 25%),3%) !default;
$mt-yellow-500: lighten(desaturate(#ffeb3b, 25%),3%) !default;
$mt-yellow-600: lighten(desaturate(#fdd835, 25%),3%) !default;
$mt-yellow-700: lighten(desaturate(#fbc02d, 25%),3%) !default;
$mt-yellow-800: lighten(desaturate(#f9a825, 25%),3%) !default;
$mt-yellow-900: lighten(desaturate(#f57f17, 25%),3%) !default;
$mt-yellow-a100: lighten(desaturate(#ffff8d, 35%),3%) !default;
$mt-yellow-a200: lighten(desaturate(#ffff00, 35%),3%) !default;
$mt-yellow-a400: lighten(desaturate(#ffea00, 35%),3%) !default;
$mt-yellow-a700: lighten(desaturate(#ffd600, 35%),3%) !default;

$mt-amber-50: lighten(desaturate(#fff8e1, 25%),3%) !default;
$mt-amber-100: lighten(desaturate(#ffecb3, 25%),3%) !default;
$mt-amber-200: lighten(desaturate(#ffe082, 25%),3%) !default;
$mt-amber-300: lighten(desaturate(#ffd54f, 25%),3%) !default;
$mt-amber-400: lighten(desaturate(#ffca28, 25%),3%) !default;
$mt-amber-500: lighten(desaturate(#ffc107, 25%),3%) !default;
$mt-amber-600: lighten(desaturate(#ffb300, 25%),3%) !default;
$mt-amber-700: lighten(desaturate(#ffa000, 25%),3%) !default;
$mt-amber-800: lighten(desaturate(#ff8f00, 25%),3%) !default;
$mt-amber-900: lighten(desaturate(#ff6f00, 25%),3%) !default;
$mt-amber-a100: lighten(desaturate(#ffe57f, 35%),3%) !default;
$mt-amber-a200: lighten(desaturate(#ffd740, 35%),3%) !default;
$mt-amber-a400: lighten(desaturate(#ffc400, 35%),3%) !default;
$mt-amber-a700: lighten(desaturate(#ffab00, 35%),3%) !default;

$mt-orange-50: lighten(desaturate(#fff3e0, 25%),3%) !default;
$mt-orange-100: lighten(desaturate(#ffe0b2, 25%),3%) !default;
$mt-orange-200: lighten(desaturate(#ffcc80, 25%),3%) !default;
$mt-orange-300: lighten(desaturate(#ffb74d, 25%),3%) !default;
$mt-orange-400: lighten(desaturate(#ffa726, 25%),3%) !default;
$mt-orange-500: lighten(desaturate(#ff9800, 25%),3%) !default;
$mt-orange-600: lighten(desaturate(#fb8c00, 25%),3%) !default;
$mt-orange-700: lighten(desaturate(#f57c00, 25%),3%) !default;
$mt-orange-800: lighten(desaturate(#ef6c00, 25%),3%) !default;
$mt-orange-900: lighten(desaturate(#e65100, 25%),3%) !default;
$mt-orange-a100: lighten(desaturate(#ffd180, 35%),3%) !default;
$mt-orange-a200: lighten(desaturate(#ffab40, 35%),3%) !default;
$mt-orange-a400: lighten(desaturate(#ff9100, 35%),3%) !default;
$mt-orange-a700: lighten(desaturate(#ff6d00, 35%),3%) !default;

$mt-deep-orange-50: lighten(desaturate(#fbe9e7, 25%),3%) !default;
$mt-deep-orange-100: lighten(desaturate(#ffccbc, 25%),3%) !default;
$mt-deep-orange-200: lighten(desaturate(#ffab91, 25%),3%) !default;
$mt-deep-orange-300: lighten(desaturate(#ff8a65, 25%),3%) !default;
$mt-deep-orange-400: lighten(desaturate(#ff7043, 25%),3%) !default;
$mt-deep-orange-500: lighten(desaturate(#ff5722, 25%),3%) !default;
$mt-deep-orange-600: lighten(desaturate(#f4511e, 25%),3%) !default;
$mt-deep-orange-700: lighten(desaturate(#e64a19, 25%),3%) !default;
$mt-deep-orange-800: lighten(desaturate(#d84315, 25%),3%) !default;
$mt-deep-orange-900: lighten(desaturate(#bf360c, 25%),3%) !default;
$mt-deep-orange-a100: lighten(desaturate(#ff9e80, 35%),3%) !default;
$mt-deep-orange-a200: lighten(desaturate(#ff6e40, 35%),3%) !default;
$mt-deep-orange-a400: lighten(desaturate(#ff3d00, 35%),3%) !default;
$mt-deep-orange-a700: lighten(desaturate(#dd2c00, 35%),3%) !default;

$mt-brown-50: lighten(desaturate(#efebe9, 10%),3%) !default;
$mt-brown-100: lighten(desaturate(#d7ccc8, 10%),3%) !default;
$mt-brown-200: lighten(desaturate(#bcaaa4, 10%),3%) !default;
$mt-brown-300: lighten(desaturate(#a1887f, 10%),3%) !default;
$mt-brown-400: lighten(desaturate(#8d6e63, 10%),3%) !default;
$mt-brown-500: lighten(desaturate(#795548, 10%),3%) !default;
$mt-brown-600: lighten(desaturate(#6d4c41, 10%),3%) !default;
$mt-brown-700: lighten(desaturate(#5d4037, 10%),3%) !default;
$mt-brown-800: lighten(desaturate(#4e342e, 10%),3%) !default;
$mt-brown-900: lighten(desaturate(#3e2723, 10%),3%) !default;

$mt-grey-50: lighten(desaturate(#fafafa, 10%),0%) !default;
$mt-grey-100: lighten(desaturate(#f5f5f5, 10%),0%) !default;
$mt-grey-200: lighten(desaturate(#eeeeee, 10%),0%) !default;
$mt-grey-300: lighten(desaturate(#e0e0e0, 10%),0%) !default;
$mt-grey-400: lighten(desaturate(#bdbdbd, 10%),0%) !default;
$mt-grey-500: lighten(desaturate(#9e9e9e, 10%),0%) !default;
$mt-grey-600: lighten(desaturate(#757575, 10%),0%) !default;
$mt-grey-700: lighten(desaturate(#616161, 10%),0%) !default;
$mt-grey-800: lighten(desaturate(#424242, 10%),0%) !default;
$mt-grey-900: lighten(desaturate(#212121, 10%),0%) !default;

$mt-blue-grey-50: lighten(desaturate(#eceff1, 10%),0%) !default;
$mt-blue-grey-100: lighten(desaturate(#cfd8dc, 10%),0%) !default;
$mt-blue-grey-200: lighten(desaturate(#b0bec5, 10%),0%) !default;
$mt-blue-grey-300: lighten(desaturate(#90a4ae, 10%),0%) !default;
$mt-blue-grey-400: lighten(desaturate(#78909c, 10%),0%) !default;
$mt-blue-grey-500: lighten(desaturate(#607d8b, 10%),0%) !default;
$mt-blue-grey-600: lighten(desaturate(#546e7a, 10%),0%) !default;
$mt-blue-grey-700: lighten(desaturate(#455a64, 10%),0%) !default;
$mt-blue-grey-800: lighten(desaturate(#37474f, 10%),0%) !default;
$mt-blue-grey-900: lighten(desaturate(#263238, 10%),0%) !default;

$mt-black: #000000 !default;
$mt-white: #ffffff !default;

//----------------------------------------------------
// Variable: MOFTONE > Default Color
//----------------------------------------------------

$red-50: $mt-red-50 !default;
$red-100: $mt-red-100 !default;
$red-200: $mt-red-200 !default;
$red-300: $mt-red-300 !default;
$red-400: $mt-red-400 !default;
$red-500: $mt-red-500 !default;
$red-600: $mt-red-600 !default;
$red-700: $mt-red-700 !default;
$red-800: $mt-red-800 !default;
$red-900: $mt-red-900 !default;
$red-a100: $mt-red-a100 !default;
$red-a200: $mt-red-a200 !default;
$red-a400: $mt-red-a400 !default;
$red-a700: $mt-red-a700 !default;

$pink-50: $mt-pink-50 !default;
$pink-100: $mt-pink-100 !default;
$pink-200: $mt-pink-200 !default;
$pink-300: $mt-pink-300 !default;
$pink-400: $mt-pink-400 !default;
$pink-500: $mt-pink-500 !default;
$pink-600: $mt-pink-600 !default;
$pink-700: $mt-pink-700 !default;
$pink-800: $mt-pink-800 !default;
$pink-900: $mt-pink-900 !default;
$pink-a100: $mt-pink-a100 !default;
$pink-a200: $mt-pink-a200 !default;
$pink-a400: $mt-pink-a400 !default;
$pink-a700: $mt-pink-a700 !default;

$purple-50: $mt-purple-50 !default;
$purple-100: $mt-purple-100 !default;
$purple-200: $mt-purple-200 !default;
$purple-300: $mt-purple-300 !default;
$purple-400: $mt-purple-400 !default;
$purple-500: $mt-purple-500 !default;
$purple-600: $mt-purple-600 !default;
$purple-700: $mt-purple-700 !default;
$purple-800: $mt-purple-800 !default;
$purple-900: $mt-purple-900 !default;
$purple-a100: $mt-purple-a100 !default;
$purple-a200: $mt-purple-a200 !default;
$purple-a400: $mt-purple-a400 !default;
$purple-a700: $mt-purple-a700 !default;

$deep-purple-50: $mt-deep-purple-50 !default;
$deep-purple-100: $mt-deep-purple-100 !default;
$deep-purple-200: $mt-deep-purple-200 !default;
$deep-purple-300: $mt-deep-purple-300 !default;
$deep-purple-400: $mt-deep-purple-400 !default;
$deep-purple-500: $mt-deep-purple-500 !default;
$deep-purple-600: $mt-deep-purple-600 !default;
$deep-purple-700: $mt-deep-purple-700 !default;
$deep-purple-800: $mt-deep-purple-800 !default;
$deep-purple-900: $mt-deep-purple-900 !default;
$deep-purple-a100: $mt-deep-purple-a100 !default;
$deep-purple-a200: $mt-deep-purple-a200 !default;
$deep-purple-a400: $mt-deep-purple-a400 !default;
$deep-purple-a700: $mt-deep-purple-a700 !default;

$indigo-50: $mt-indigo-50 !default;
$indigo-100: $mt-indigo-100 !default;
$indigo-200: $mt-indigo-200 !default;
$indigo-300: $mt-indigo-300 !default;
$indigo-400: $mt-indigo-400 !default;
$indigo-500: $mt-indigo-500 !default;
$indigo-600: $mt-indigo-600 !default;
$indigo-700: $mt-indigo-700 !default;
$indigo-800: $mt-indigo-800 !default;
$indigo-900: $mt-indigo-900 !default;
$indigo-a100: $mt-indigo-a100 !default;
$indigo-a200: $mt-indigo-a200 !default;
$indigo-a400: $mt-indigo-a400 !default;
$indigo-a700: $mt-indigo-a700 !default;

$blue-50: $mt-blue-50 !default;
$blue-100: $mt-blue-100 !default;
$blue-200: $mt-blue-200 !default;
$blue-300: $mt-blue-300 !default;
$blue-400: $mt-blue-400 !default;
$blue-500: $mt-blue-500 !default;
$blue-600: $mt-blue-600 !default;
$blue-700: $mt-blue-700 !default;
$blue-800: $mt-blue-800 !default;
$blue-900: $mt-blue-900 !default;
$blue-a100: $mt-blue-a100 !default;
$blue-a200: $mt-blue-a200 !default;
$blue-a400: $mt-blue-a400 !default;
$blue-a700: $mt-blue-a700 !default;

$light-blue-50: $mt-light-blue-50 !default;
$light-blue-100: $mt-light-blue-100 !default;
$light-blue-200: $mt-light-blue-200 !default;
$light-blue-300: $mt-light-blue-300 !default;
$light-blue-400: $mt-light-blue-400 !default;
$light-blue-500: $mt-light-blue-500 !default;
$light-blue-600: $mt-light-blue-600 !default;
$light-blue-700: $mt-light-blue-700 !default;
$light-blue-800: $mt-light-blue-800 !default;
$light-blue-900: $mt-light-blue-900 !default;
$light-blue-a100: $mt-light-blue-a100 !default;
$light-blue-a200: $mt-light-blue-a200 !default;
$light-blue-a400: $mt-light-blue-a400 !default;
$light-blue-a700: $mt-light-blue-a700 !default;

$cyan-50: $mt-cyan-50 !default;
$cyan-100: $mt-cyan-100 !default;
$cyan-200: $mt-cyan-200 !default;
$cyan-300: $mt-cyan-300 !default;
$cyan-400: $mt-cyan-400 !default;
$cyan-500: $mt-cyan-500 !default;
$cyan-600: $mt-cyan-600 !default;
$cyan-700: $mt-cyan-700 !default;
$cyan-800: $mt-cyan-800 !default;
$cyan-900: $mt-cyan-900 !default;
$cyan-a100: $mt-cyan-a100 !default;
$cyan-a200: $mt-cyan-a200 !default;
$cyan-a400: $mt-cyan-a400 !default;
$cyan-a700: $mt-cyan-a700 !default;

$teal-50: $mt-teal-50 !default;
$teal-100: $mt-teal-100 !default;
$teal-200: $mt-teal-200 !default;
$teal-300: $mt-teal-300 !default;
$teal-400: $mt-teal-400 !default;
$teal-500: $mt-teal-500 !default;
$teal-600: $mt-teal-600 !default;
$teal-700: $mt-teal-700 !default;
$teal-800: $mt-teal-800 !default;
$teal-900: $mt-teal-900 !default;
$teal-a100: $mt-teal-a100 !default;
$teal-a200: $mt-teal-a200 !default;
$teal-a400: $mt-teal-a400 !default;
$teal-a700: $mt-teal-a700 !default;

$green-50: $mt-green-50 !default;
$green-100: $mt-green-100 !default;
$green-200: $mt-green-200 !default;
$green-300: $mt-green-300 !default;
$green-400: $mt-green-400 !default;
$green-500: $mt-green-500 !default;
$green-600: $mt-green-600 !default;
$green-700: $mt-green-700 !default;
$green-800: $mt-green-800 !default;
$green-900: $mt-green-900 !default;
$green-a100: $mt-green-a100 !default;
$green-a200: $mt-green-a200 !default;
$green-a400: $mt-green-a400 !default;
$green-a700: $mt-green-a700 !default;

$light-green-50: $mt-light-green-50 !default;
$light-green-100: $mt-light-green-100 !default;
$light-green-200: $mt-light-green-200 !default;
$light-green-300: $mt-light-green-300 !default;
$light-green-400: $mt-light-green-400 !default;
$light-green-500: $mt-light-green-500 !default;
$light-green-600: $mt-light-green-600 !default;
$light-green-700: $mt-light-green-700 !default;
$light-green-800: $mt-light-green-800 !default;
$light-green-900: $mt-light-green-900 !default;
$light-green-a100: $mt-light-green-a100 !default;
$light-green-a200: $mt-light-green-a200 !default;
$light-green-a400: $mt-light-green-a400 !default;
$light-green-a700: $mt-light-green-a700 !default;

$lime-50: $mt-lime-50 !default;
$lime-100: $mt-lime-100 !default;
$lime-200: $mt-lime-200 !default;
$lime-300: $mt-lime-300 !default;
$lime-400: $mt-lime-400 !default;
$lime-500: $mt-lime-500 !default;
$lime-600: $mt-lime-600 !default;
$lime-700: $mt-lime-700 !default;
$lime-800: $mt-lime-800 !default;
$lime-900: $mt-lime-900 !default;
$lime-a100: $mt-lime-a100 !default;
$lime-a200: $mt-lime-a200 !default;
$lime-a400: $mt-lime-a400 !default;
$lime-a700: $mt-lime-a700 !default;

$yellow-50: $mt-yellow-50 !default;
$yellow-100: $mt-yellow-100 !default;
$yellow-200: $mt-yellow-200 !default;
$yellow-300: $mt-yellow-300 !default;
$yellow-400: $mt-yellow-400 !default;
$yellow-500: $mt-yellow-500 !default;
$yellow-600: $mt-yellow-600 !default;
$yellow-700: $mt-yellow-700 !default;
$yellow-800: $mt-yellow-800 !default;
$yellow-900: $mt-yellow-900 !default;
$yellow-a100: $mt-yellow-a100 !default;
$yellow-a200: $mt-yellow-a200 !default;
$yellow-a400: $mt-yellow-a400 !default;
$yellow-a700: $mt-yellow-a700 !default;

$amber-50: $mt-amber-50 !default;
$amber-100: $mt-amber-100 !default;
$amber-200: $mt-amber-200 !default;
$amber-300: $mt-amber-300 !default;
$amber-400: $mt-amber-400 !default;
$amber-500: $mt-amber-500 !default;
$amber-600: $mt-amber-600 !default;
$amber-700: $mt-amber-700 !default;
$amber-800: $mt-amber-800 !default;
$amber-900: $mt-amber-900 !default;
$amber-a100: $mt-amber-a100 !default;
$amber-a200: $mt-amber-a200 !default;
$amber-a400: $mt-amber-a400 !default;
$amber-a700: $mt-amber-a700 !default;

$orange-50: $mt-orange-50 !default;
$orange-100: $mt-orange-100 !default;
$orange-200: $mt-orange-200 !default;
$orange-300: $mt-orange-300 !default;
$orange-400: $mt-orange-400 !default;
$orange-500: $mt-orange-500 !default;
$orange-600: $mt-orange-600 !default;
$orange-700: $mt-orange-700 !default;
$orange-800: $mt-orange-800 !default;
$orange-900: $mt-orange-900 !default;
$orange-a100: $mt-orange-a100 !default;
$orange-a200: $mt-orange-a200 !default;
$orange-a400: $mt-orange-a400 !default;
$orange-a700: $mt-orange-a700 !default;

$deep-orange-50: $mt-deep-orange-50 !default;
$deep-orange-100: $mt-deep-orange-100 !default;
$deep-orange-200: $mt-deep-orange-200 !default;
$deep-orange-300: $mt-deep-orange-300 !default;
$deep-orange-400: $mt-deep-orange-400 !default;
$deep-orange-500: $mt-deep-orange-500 !default;
$deep-orange-600: $mt-deep-orange-600 !default;
$deep-orange-700: $mt-deep-orange-700 !default;
$deep-orange-800: $mt-deep-orange-800 !default;
$deep-orange-900: $mt-deep-orange-900 !default;
$deep-orange-a100: $mt-deep-orange-a100 !default;
$deep-orange-a200: $mt-deep-orange-a200 !default;
$deep-orange-a400: $mt-deep-orange-a400 !default;
$deep-orange-a700: $mt-deep-orange-a700 !default;

$brown-50: $mt-brown-50 !default;
$brown-100: $mt-brown-100 !default;
$brown-200: $mt-brown-200 !default;
$brown-300: $mt-brown-300 !default;
$brown-400: $mt-brown-400 !default;
$brown-500: $mt-brown-500 !default;
$brown-600: $mt-brown-600 !default;
$brown-700: $mt-brown-700 !default;
$brown-800: $mt-brown-800 !default;
$brown-900: $mt-brown-900 !default;

$grey-50: $mt-grey-50 !default;
$grey-100: $mt-grey-100 !default;
$grey-200: $mt-grey-200 !default;
$grey-300: $mt-grey-300 !default;
$grey-400: $mt-grey-400 !default;
$grey-500: $mt-grey-500 !default;
$grey-600: $mt-grey-600 !default;
$grey-700: $mt-grey-700 !default;
$grey-800: $mt-grey-800 !default;
$grey-900: $mt-grey-900 !default;

$blue-grey-50: $mt-blue-grey-50 !default;
$blue-grey-100: $mt-blue-grey-100 !default;
$blue-grey-200: $mt-blue-grey-200 !default;
$blue-grey-300: $mt-blue-grey-300 !default;
$blue-grey-400: $mt-blue-grey-400 !default;
$blue-grey-500: $mt-blue-grey-500 !default;
$blue-grey-600: $mt-blue-grey-600 !default;
$blue-grey-700: $mt-blue-grey-700 !default;
$blue-grey-800: $mt-blue-grey-800 !default;
$blue-grey-900: $mt-blue-grey-900 !default;

$black: $mt-black !default;
$white: $mt-white !default;
