@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: inherit;
  text-decoration: none;
  font: inherit;
  font-size: 100%;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
  list-style: none;
  vertical-align: baseline;
  background: transparent;
  background-repeat: no-repeat;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}

*::before,
*::after {
  box-sizing: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  background-repeat: no-repeat;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 10px;
  font-size: 1rem;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

template,
[hidden] {
  display: none;
}

hr {
  height: 0;
  overflow: visible;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

a {
  -webkit-text-decoration-skip: objects;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
  resize: vertical;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-cancel-button,
::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

[hidden][aria-hidden="false"] {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
}

[hidden][aria-hidden="false"]:focus {
  clip: auto;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

body {
  font-family: -apple-system, Helvetica Neue, "YakuHanJP", Meiryo, メイリオ, Osaka, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
}

code,
pre {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.wrapper {
  background: #fafafa;
}

.header {
  text-align: center;
  background: #e2b633;
}

.header .-inner {
  padding: 50px 15px;
}

.heading_h1 {
  display: block;
  color: white;
  font-size: 48px;
  font-size: 4.8rem;
  font-family: 'Baloo Da', cursive;
  margin: 0 0 20px;
}

.heading_h2 {
  display: block;
  color: white;
  margin: 0 0 20px;
}

.link_btn {
  display: inline-block;
  padding: 10px 15px;
  margin: 0 2px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.link_btn:hover {
  color: #e1982d;
  background: #ffffff;
}

.main {
  font-size: 14px;
  font-size: 1.4rem;
}

.main .-inner {
  padding: 45px 5px;
}

.main .-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.main .-row.-center {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .-row.-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.main .-row .-col.-fix {
  -webkit-flex: 0 0 270px;
      -ms-flex: 0 0 270px;
          flex: 0 0 270px;
}

.pallet {
  margin: 0 10px 30px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 4px;
  overflow: hidden;
}

.pallet .-bar.-cut {
  margin: 0 0 4px;
}

.pallet .-bar {
  padding: 10px 15px;
}

.pallet .-name {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  margin: 0 0 60px;
}

.pallet .-data {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pallet .-data .-shade,
.pallet .-data .-hex {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.pallet.-red .-bar:first-child {
  background: #dc665d;
  color: white;
}

.pallet.-red .-bar:nth-child(2) {
  background: #fefbfb;
}

.pallet.-red .-bar:nth-child(3) {
  background: #fbe1e3;
}

.pallet.-red .-bar:nth-child(4) {
  background: #e4b4b4;
}

.pallet.-red .-bar:nth-child(5) {
  background: #d59393;
  color: white;
}

.pallet.-red .-bar:nth-child(6) {
  background: #da7674;
  color: white;
}

.pallet.-red .-bar:nth-child(7) {
  background: #dc665d;
  color: white;
}

.pallet.-red .-bar:nth-child(8) {
  background: #cc605d;
  color: white;
}

.pallet.-red .-bar:nth-child(9) {
  background: #b85959;
  color: white;
}

.pallet.-red .-bar:nth-child(10) {
  background: #b34a4a;
  color: white;
}

.pallet.-red .-bar:nth-child(11) {
  background: #a83a3a;
  color: white;
}

.pallet.-red .-bar:nth-child(12) {
  background: #eba9a3;
}

.pallet.-red .-bar:nth-child(13) {
  background: #e37d7d;
  color: white;
}

.pallet.-red .-bar:nth-child(14) {
  background: #d94c68;
  color: white;
}

.pallet.-red .-bar:nth-child(15) {
  background: #bc2828;
  color: white;
}

.pallet.-pink .-bar:first-child {
  background: #cd4976;
  color: white;
}

.pallet.-pink .-bar:nth-child(2) {
  background: #fcf4f6;
}

.pallet.-pink .-bar:nth-child(3) {
  background: #f2d0dc;
}

.pallet.-pink .-bar:nth-child(4) {
  background: #e8aabf;
}

.pallet.-pink .-bar:nth-child(5) {
  background: #de84a2;
  color: white;
}

.pallet.-pink .-bar:nth-child(6) {
  background: #d5668c;
  color: white;
}

.pallet.-pink .-bar:nth-child(7) {
  background: #cd4976;
  color: white;
}

.pallet.-pink .-bar:nth-child(8) {
  background: #c43f6f;
  color: white;
}

.pallet.-pink .-bar:nth-child(9) {
  background: #b23768;
  color: white;
}

.pallet.-pink .-bar:nth-child(10) {
  background: #a13061;
  color: white;
}

.pallet.-pink .-bar:nth-child(11) {
  background: #812456;
  color: white;
}

.pallet.-pink .-bar:nth-child(12) {
  background: #eba3bb;
}

.pallet.-pink .-bar:nth-child(13) {
  background: #e06e95;
  color: white;
}

.pallet.-pink .-bar:nth-child(14) {
  background: #d3316b;
  color: white;
}

.pallet.-pink .-bar:nth-child(15) {
  background: #ab3a6d;
  color: white;
}

.pallet.-purple .-bar:first-child {
  background: #9347a0;
  color: white;
}

.pallet.-purple .-bar:nth-child(2) {
  background: #f6f3f7;
}

.pallet.-purple .-bar:nth-child(3) {
  background: #e0d2e2;
}

.pallet.-purple .-bar:nth-child(4) {
  background: #c7afcc;
}

.pallet.-purple .-bar:nth-child(5) {
  background: #ae8bb4;
  color: white;
}

.pallet.-purple .-bar:nth-child(6) {
  background: #9b70a3;
  color: white;
}

.pallet.-purple .-bar:nth-child(7) {
  background: #9347a0;
  color: white;
}

.pallet.-purple .-bar:nth-child(8) {
  background: #88429b;
  color: white;
}

.pallet.-purple .-bar:nth-child(9) {
  background: #7a3b95;
  color: white;
}

.pallet.-purple .-bar:nth-child(10) {
  background: #6d368e;
  color: white;
}

.pallet.-purple .-bar:nth-child(11) {
  background: #532c83;
  color: white;
}

.pallet.-purple .-bar:nth-child(12) {
  background: #dea3e8;
}

.pallet.-purple .-bar:nth-child(13) {
  background: #cc6edc;
  color: white;
}

.pallet.-purple .-bar:nth-child(14) {
  background: #bd34d4;
  color: white;
}

.pallet.-purple .-bar:nth-child(15) {
  background: #a139d5;
  color: white;
}

.pallet.-deep-purple .-bar:first-child {
  background: #775ea2;
  color: white;
}

.pallet.-deep-purple .-bar:nth-child(2) {
  background: #f6f4f8;
}

.pallet.-deep-purple .-bar:nth-child(3) {
  background: #dcd7e5;
}

.pallet.-deep-purple .-bar:nth-child(4) {
  background: #c0b7d0;
}

.pallet.-deep-purple .-bar:nth-child(5) {
  background: #a496bb;
  color: white;
}

.pallet.-deep-purple .-bar:nth-child(6) {
  background: #8e7dab;
  color: white;
}

.pallet.-deep-purple .-bar:nth-child(7) {
  background: #775ea2;
  color: white;
}

.pallet.-deep-purple .-bar:nth-child(8) {
  background: #6f579e;
  color: white;
}

.pallet.-deep-purple .-bar:nth-child(9) {
  background: #634d98;
  color: white;
}

.pallet.-deep-purple .-bar:nth-child(10) {
  background: #584592;
  color: white;
}

.pallet.-deep-purple .-bar:nth-child(11) {
  background: #443587;
  color: white;
}

.pallet.-deep-purple .-bar:nth-child(12) {
  background: #c2a9ed;
}

.pallet.-deep-purple .-bar:nth-child(13) {
  background: #9579e3;
  color: white;
}

.pallet.-deep-purple .-bar:nth-child(14) {
  background: #7d53da;
  color: white;
}

.pallet.-deep-purple .-bar:nth-child(15) {
  background: #6f2cce;
  color: white;
}

.pallet.-indigo .-bar:first-child {
  background: #646d9f;
  color: white;
}

.pallet.-indigo .-bar:nth-child(2) {
  background: #f5f6f8;
}

.pallet.-indigo .-bar:nth-child(3) {
  background: #d8dae5;
}

.pallet.-indigo .-bar:nth-child(4) {
  background: #b9bcd0;
}

.pallet.-indigo .-bar:nth-child(5) {
  background: #999fba;
  color: white;
}

.pallet.-indigo .-bar:nth-child(6) {
  background: #8187aa;
  color: white;
}

.pallet.-indigo .-bar:nth-child(7) {
  background: #646d9f;
  color: white;
}

.pallet.-indigo .-bar:nth-child(8) {
  background: #5b6498;
  color: white;
}

.pallet.-indigo .-bar:nth-child(9) {
  background: #4f588f;
  color: white;
}

.pallet.-indigo .-bar:nth-child(10) {
  background: #454c86;
  color: white;
}

.pallet.-indigo .-bar:nth-child(11) {
  background: #323876;
  color: white;
}

.pallet.-indigo .-bar:nth-child(12) {
  background: #adb7ee;
}

.pallet.-indigo .-bar:nth-child(13) {
  background: #7e8de2;
  color: white;
}

.pallet.-indigo .-bar:nth-child(14) {
  background: #6c7ddf;
  color: white;
}

.pallet.-indigo .-bar:nth-child(15) {
  background: #6174dc;
  color: white;
}

.pallet.-blue .-bar:first-child {
  background: #4b9ad8;
  color: white;
}

.pallet.-blue .-bar:nth-child(2) {
  background: #f3f8fc;
}

.pallet.-blue .-bar:nth-child(3) {
  background: #d1e4f5;
}

.pallet.-blue .-bar:nth-child(4) {
  background: #abd0ed;
}

.pallet.-blue .-bar:nth-child(5) {
  background: #85bae4;
}

.pallet.-blue .-bar:nth-child(6) {
  background: #67a9df;
  color: white;
}

.pallet.-blue .-bar:nth-child(7) {
  background: #4b9ad8;
  color: white;
}

.pallet.-blue .-bar:nth-child(8) {
  background: #498dc9;
  color: white;
}

.pallet.-blue .-bar:nth-child(9) {
  background: #3a7ec0;
  color: white;
}

.pallet.-blue .-bar:nth-child(10) {
  background: #336eb1;
  color: white;
}

.pallet.-blue .-bar:nth-child(11) {
  background: #265297;
  color: white;
}

.pallet.-blue .-bar:nth-child(12) {
  background: #a4bfec;
}

.pallet.-blue .-bar:nth-child(13) {
  background: #719be1;
  color: white;
}

.pallet.-blue .-bar:nth-child(14) {
  background: #5b8bdc;
  color: white;
}

.pallet.-blue .-bar:nth-child(15) {
  background: #5b7ddc;
  color: white;
}

.pallet.-light-blue .-bar:first-child {
  background: #29a5dd;
  color: white;
}

.pallet.-light-blue .-bar:nth-child(2) {
  background: #f2f9fd;
}

.pallet.-light-blue .-bar:nth-child(3) {
  background: #cae7f5;
}

.pallet.-light-blue .-bar:nth-child(4) {
  background: #9ed4ec;
}

.pallet.-light-blue .-bar:nth-child(5) {
  background: #73c0e3;
}

.pallet.-light-blue .-bar:nth-child(6) {
  background: #52b1dd;
  color: white;
}

.pallet.-light-blue .-bar:nth-child(7) {
  background: #29a5dd;
  color: white;
}

.pallet.-light-blue .-bar:nth-child(8) {
  background: #229bd5;
  color: white;
}

.pallet.-light-blue .-bar:nth-child(9) {
  background: #1e8ac4;
  color: white;
}

.pallet.-light-blue .-bar:nth-child(10) {
  background: #1c7ab2;
  color: white;
}

.pallet.-light-blue .-bar:nth-child(11) {
  background: #175d95;
  color: white;
}

.pallet.-light-blue .-bar:nth-child(12) {
  background: #a3d5eb;
}

.pallet.-light-blue .-bar:nth-child(13) {
  background: #6ebde0;
}

.pallet.-light-blue .-bar:nth-child(14) {
  background: #39a5d5;
  color: white;
}

.pallet.-light-blue .-bar:nth-child(15) {
  background: #2c90ce;
  color: white;
}

.pallet.-cyan .-bar:first-child {
  background: #1cb4c7;
  color: white;
}

.pallet.-cyan .-bar:nth-child(2) {
  background: #f0f8fa;
}

.pallet.-cyan .-bar:nth-child(3) {
  background: #c8e7eb;
}

.pallet.-cyan .-bar:nth-child(4) {
  background: #9ed5dc;
}

.pallet.-cyan .-bar:nth-child(5) {
  background: #72c1cb;
}

.pallet.-cyan .-bar:nth-child(6) {
  background: #51b2be;
  color: white;
}

.pallet.-cyan .-bar:nth-child(7) {
  background: #1cb4c7;
  color: white;
}

.pallet.-cyan .-bar:nth-child(8) {
  background: #1aa5b6;
  color: white;
}

.pallet.-cyan .-bar:nth-child(9) {
  background: #1792a0;
  color: white;
}

.pallet.-cyan .-bar:nth-child(10) {
  background: #14818b;
  color: white;
}

.pallet.-cyan .-bar:nth-child(11) {
  background: #0e6165;
  color: white;
}

.pallet.-cyan .-bar:nth-child(12) {
  background: #a6ecec;
}

.pallet.-cyan .-bar:nth-child(13) {
  background: #4dd9d9;
}

.pallet.-cyan .-bar:nth-child(14) {
  background: #39c5d5;
}

.pallet.-cyan .-bar:nth-child(15) {
  background: #28a8bc;
  color: white;
}

.pallet.-teal .-bar:first-child {
  background: #159185;
  color: white;
}

.pallet.-teal .-bar:nth-child(2) {
  background: #eef3f3;
}

.pallet.-teal .-bar:nth-child(3) {
  background: #c9d8d6;
}

.pallet.-teal .-bar:nth-child(4) {
  background: #9fbbb8;
}

.pallet.-teal .-bar:nth-child(5) {
  background: #759d99;
  color: white;
}

.pallet.-teal .-bar:nth-child(6) {
  background: #44978f;
  color: white;
}

.pallet.-teal .-bar:nth-child(7) {
  background: #159185;
  color: white;
}

.pallet.-teal .-bar:nth-child(8) {
  background: #13857a;
  color: white;
}

.pallet.-teal .-bar:nth-child(9) {
  background: #11776b;
  color: white;
}

.pallet.-teal .-bar:nth-child(10) {
  background: #0f695e;
  color: white;
}

.pallet.-teal .-bar:nth-child(11) {
  background: #0c5145;
  color: white;
}

.pallet.-teal .-bar:nth-child(12) {
  background: #c3f2e8;
}

.pallet.-teal .-bar:nth-child(13) {
  background: #8ce7d1;
}

.pallet.-teal .-bar:nth-child(14) {
  background: #54c2a6;
}

.pallet.-teal .-bar:nth-child(15) {
  background: #24aa98;
  color: white;
}

.pallet.-green .-bar:first-child {
  background: #749775;
  color: white;
}

.pallet.-green .-bar:nth-child(2) {
  background: #f5f7f5;
}

.pallet.-green .-bar:nth-child(3) {
  background: #dbe3db;
}

.pallet.-green .-bar:nth-child(4) {
  background: #beccbf;
}

.pallet.-green .-bar:nth-child(5) {
  background: #a0b7a1;
}

.pallet.-green .-bar:nth-child(6) {
  background: #8aa68c;
  color: white;
}

.pallet.-green .-bar:nth-child(7) {
  background: #749775;
  color: white;
}

.pallet.-green .-bar:nth-child(8) {
  background: #668c67;
  color: white;
}

.pallet.-green .-bar:nth-child(9) {
  background: #577e59;
  color: white;
}

.pallet.-green .-bar:nth-child(10) {
  background: #49714b;
  color: white;
}

.pallet.-green .-bar:nth-child(11) {
  background: #2f5933;
  color: white;
}

.pallet.-green .-bar:nth-child(12) {
  background: #d2edd9;
}

.pallet.-green .-bar:nth-child(13) {
  background: #91d7b5;
}

.pallet.-green .-bar:nth-child(14) {
  background: #2bca7d;
}

.pallet.-green .-bar:nth-child(15) {
  background: #26b260;
  color: white;
}

.pallet.-light-green .-bar:first-child {
  background: #90ab72;
  color: white;
}

.pallet.-light-green .-bar:nth-child(2) {
  background: #f8faf6;
}

.pallet.-light-green .-bar:nth-child(3) {
  background: #e3eadb;
}

.pallet.-light-green .-bar:nth-child(4) {
  background: #ccd8be;
}

.pallet.-light-green .-bar:nth-child(5) {
  background: #b4c6a0;
}

.pallet.-light-green .-bar:nth-child(6) {
  background: #a2b888;
}

.pallet.-light-green .-bar:nth-child(7) {
  background: #90ab72;
  color: white;
}

.pallet.-light-green .-bar:nth-child(8) {
  background: #839d68;
  color: white;
}

.pallet.-light-green .-bar:nth-child(9) {
  background: #718e59;
  color: white;
}

.pallet.-light-green .-bar:nth-child(10) {
  background: #607d4c;
  color: white;
}

.pallet.-light-green .-bar:nth-child(11) {
  background: #416234;
  color: white;
}

.pallet.-light-green .-bar:nth-child(12) {
  background: #d2eeb0;
}

.pallet.-light-green .-bar:nth-child(13) {
  background: #b7e583;
}

.pallet.-light-green .-bar:nth-child(14) {
  background: #82d63c;
}

.pallet.-light-green .-bar:nth-child(15) {
  background: #75bb48;
  color: white;
}

.pallet.-lime .-bar:first-child {
  background: #bac361;
}

.pallet.-lime .-bar:nth-child(2) {
  background: #fbfcf6;
}

.pallet.-lime .-bar:nth-child(3) {
  background: #edefd7;
}

.pallet.-lime .-bar:nth-child(4) {
  background: #dfe4b6;
}

.pallet.-lime .-bar:nth-child(5) {
  background: #d1d794;
}

.pallet.-lime .-bar:nth-child(6) {
  background: #c5cc7b;
}

.pallet.-lime .-bar:nth-child(7) {
  background: #bac361;
}

.pallet.-lime .-bar:nth-child(8) {
  background: #abb05c;
  color: white;
}

.pallet.-lime .-bar:nth-child(9) {
  background: #9fa34c;
  color: white;
}

.pallet.-lime .-bar:nth-child(10) {
  background: #909041;
  color: white;
}

.pallet.-lime .-bar:nth-child(11) {
  background: #7a722e;
  color: white;
}

.pallet.-lime .-bar:nth-child(12) {
  background: #e5eca4;
}

.pallet.-lime .-bar:nth-child(13) {
  background: #d6e06f;
}

.pallet.-lime .-bar:nth-child(14) {
  background: #b2d539;
}

.pallet.-lime .-bar:nth-child(15) {
  background: #a4ce2c;
}

.pallet.-yellow .-bar:first-child {
  background: #e8db61;
}

.pallet.-yellow .-bar:nth-child(2) {
  background: #fefdf7;
}

.pallet.-yellow .-bar:nth-child(3) {
  background: #faf6d9;
}

.pallet.-yellow .-bar:nth-child(4) {
  background: #f5eeb7;
}

.pallet.-yellow .-bar:nth-child(5) {
  background: #f0e695;
}

.pallet.-yellow .-bar:nth-child(6) {
  background: #ece07a;
}

.pallet.-yellow .-bar:nth-child(7) {
  background: #e8db61;
}

.pallet.-yellow .-bar:nth-child(8) {
  background: #e6cc5c;
}

.pallet.-yellow .-bar:nth-child(9) {
  background: #e2ba55;
}

.pallet.-yellow .-bar:nth-child(10) {
  background: #dfa84e;
}

.pallet.-yellow .-bar:nth-child(11) {
  background: #d98942;
  color: white;
}

.pallet.-yellow .-bar:nth-child(12) {
  background: #eeeeae;
}

.pallet.-yellow .-bar:nth-child(13) {
  background: #d5d539;
}

.pallet.-yellow .-bar:nth-child(14) {
  background: #d5c839;
}

.pallet.-yellow .-bar:nth-child(15) {
  background: #d5bc39;
}

.pallet.-amber .-bar:first-child {
  background: #e2b633;
}

.pallet.-amber .-bar:nth-child(2) {
  background: #fdfbf2;
}

.pallet.-amber .-bar:nth-child(3) {
  background: #f7ecca;
}

.pallet.-amber .-bar:nth-child(4) {
  background: #f1dd9f;
}

.pallet.-amber .-bar:nth-child(5) {
  background: #ebce72;
}

.pallet.-amber .-bar:nth-child(6) {
  background: #e6c150;
}

.pallet.-amber .-bar:nth-child(7) {
  background: #e2b633;
}

.pallet.-amber .-bar:nth-child(8) {
  background: #e1ab2d;
}

.pallet.-amber .-bar:nth-child(9) {
  background: #e19e2d;
  color: white;
}

.pallet.-amber .-bar:nth-child(10) {
  background: #e1922d;
  color: white;
}

.pallet.-amber .-bar:nth-child(11) {
  background: #e17c2d;
  color: white;
}

.pallet.-amber .-bar:nth-child(12) {
  background: #ebdca2;
}

.pallet.-amber .-bar:nth-child(13) {
  background: #e0c86e;
}

.pallet.-amber .-bar:nth-child(14) {
  background: #d5b139;
}

.pallet.-amber .-bar:nth-child(15) {
  background: #d5a239;
  color: white;
}

.pallet.-orange .-bar:first-child {
  background: #e1982d;
  color: white;
}

.pallet.-orange .-bar:nth-child(2) {
  background: #fdf8f1;
}

.pallet.-orange .-bar:nth-child(3) {
  background: #f7e5c9;
}

.pallet.-orange .-bar:nth-child(4) {
  background: #f1cf9d;
}

.pallet.-orange .-bar:nth-child(5) {
  background: #ebb971;
}

.pallet.-orange .-bar:nth-child(6) {
  background: #e6a84f;
}

.pallet.-orange .-bar:nth-child(7) {
  background: #e1982d;
  color: white;
}

.pallet.-orange .-bar:nth-child(8) {
  background: #e1902a;
  color: white;
}

.pallet.-orange .-bar:nth-child(9) {
  background: #e08325;
  color: white;
}

.pallet.-orange .-bar:nth-child(10) {
  background: #df7620;
  color: white;
}

.pallet.-orange .-bar:nth-child(11) {
  background: #d75f1f;
  color: white;
}

.pallet.-orange .-bar:nth-child(12) {
  background: #ebd1a3;
}

.pallet.-orange .-bar:nth-child(13) {
  background: #e0ae6e;
}

.pallet.-orange .-bar:nth-child(14) {
  background: #d59239;
  color: white;
}

.pallet.-orange .-bar:nth-child(15) {
  background: #d57c39;
  color: white;
}

.pallet.-deep-orange .-bar:first-child {
  background: #e5704b;
  color: white;
}

.pallet.-deep-orange .-bar:nth-child(2) {
  background: #fcf6f6;
}

.pallet.-deep-orange .-bar:nth-child(3) {
  background: #f9dbd2;
}

.pallet.-deep-orange .-bar:nth-child(4) {
  background: #f3bdac;
}

.pallet.-deep-orange .-bar:nth-child(5) {
  background: #ee9f86;
}

.pallet.-deep-orange .-bar:nth-child(6) {
  background: #e98768;
  color: white;
}

.pallet.-deep-orange .-bar:nth-child(7) {
  background: #e5704b;
  color: white;
}

.pallet.-deep-orange .-bar:nth-child(8) {
  background: #d96b48;
  color: white;
}

.pallet.-deep-orange .-bar:nth-child(9) {
  background: #ca6445;
  color: white;
}

.pallet.-deep-orange .-bar:nth-child(10) {
  background: #c65836;
  color: white;
}

.pallet.-deep-orange .-bar:nth-child(11) {
  background: #b24928;
  color: white;
}

.pallet.-deep-orange .-bar:nth-child(12) {
  background: #ebb4a3;
}

.pallet.-deep-orange .-bar:nth-child(13) {
  background: #e08a6e;
  color: white;
}

.pallet.-deep-orange .-bar:nth-child(14) {
  background: #d55f39;
  color: white;
}

.pallet.-deep-orange .-bar:nth-child(15) {
  background: #c34829;
  color: white;
}

.pallet.-brown .-bar:first-child {
  background: #786158;
  color: white;
}

.pallet.-brown .-bar:nth-child(2) {
  background: #f4f3f3;
}

.pallet.-brown .-bar:nth-child(3) {
  background: #d9d6d5;
}

.pallet.-brown .-bar:nth-child(4) {
  background: #bbb6b4;
}

.pallet.-brown .-bar:nth-child(5) {
  background: #9d9592;
  color: white;
}

.pallet.-brown .-bar:nth-child(6) {
  background: #897b76;
  color: white;
}

.pallet.-brown .-bar:nth-child(7) {
  background: #786158;
  color: white;
}

.pallet.-brown .-bar:nth-child(8) {
  background: #6d5750;
  color: white;
}

.pallet.-brown .-bar:nth-child(9) {
  background: #5e4b45;
  color: white;
}

.pallet.-brown .-bar:nth-child(10) {
  background: #513f3b;
  color: white;
}

.pallet.-brown .-bar:nth-child(11) {
  background: #42312e;
  color: white;
}

.pallet.-grey .-bar:first-child {
  background: #9e9e9e;
  color: white;
}

.pallet.-grey .-bar:nth-child(2) {
  background: #fafafa;
}

.pallet.-grey .-bar:nth-child(3) {
  background: whitesmoke;
}

.pallet.-grey .-bar:nth-child(4) {
  background: #eeeeee;
}

.pallet.-grey .-bar:nth-child(5) {
  background: #e0e0e0;
}

.pallet.-grey .-bar:nth-child(6) {
  background: #bdbdbd;
}

.pallet.-grey .-bar:nth-child(7) {
  background: #9e9e9e;
  color: white;
}

.pallet.-grey .-bar:nth-child(8) {
  background: #757575;
  color: white;
}

.pallet.-grey .-bar:nth-child(9) {
  background: #616161;
  color: white;
}

.pallet.-grey .-bar:nth-child(10) {
  background: #424242;
  color: white;
}

.pallet.-grey .-bar:nth-child(11) {
  background: #212121;
  color: white;
}

.pallet.-blue-grey .-bar:first-child {
  background: #6c797f;
  color: white;
}

.pallet.-blue-grey .-bar:nth-child(2) {
  background: #eeefef;
}

.pallet.-blue-grey .-bar:nth-child(3) {
  background: #d3d6d8;
}

.pallet.-blue-grey .-bar:nth-child(4) {
  background: #b7bcbe;
}

.pallet.-blue-grey .-bar:nth-child(5) {
  background: #9aa1a4;
  color: white;
}

.pallet.-blue-grey .-bar:nth-child(6) {
  background: #848c90;
  color: white;
}

.pallet.-blue-grey .-bar:nth-child(7) {
  background: #6c797f;
  color: white;
}

.pallet.-blue-grey .-bar:nth-child(8) {
  background: #5e6a70;
  color: white;
}

.pallet.-blue-grey .-bar:nth-child(9) {
  background: #4d575c;
  color: white;
}

.pallet.-blue-grey .-bar:nth-child(10) {
  background: #3e4548;
  color: white;
}

.pallet.-blue-grey .-bar:nth-child(11) {
  background: #2b3033;
  color: white;
}

.pallet.-black-and-white .-bar:first-child {
  background: #000000;
  color: white;
}

.pallet.-black-and-white .-bar:nth-child(2) {
  background: #ffffff;
}
