//----------------------------------------------------
// Layout: Section
//----------------------------------------------------

.section.is-header {
  padding: 2.5em 0;
  //background-color: $mof-amber-500;
  + .section.is-dist {
    margin-top: -1.5em;
  }
}

.section.is-dist {
  padding: 1.5em 0;
  background-color: $dark-7;
}

.section.is-main {
  padding: 2em 1em;
  background-color: $light;
}

.section.is-footer {
  padding: 1em 0;
  //background-color: $mof-amber-500;
}