.-bar: .-data
  p.-shade 50
  p.-hex
.-bar: .-data
  p.-shade 100
  p.-hex
.-bar: .-data
  p.-shade 200
  p.-hex
.-bar: .-data
  p.-shade 300
  p.-hex
.-bar: .-data
  p.-shade 400
  p.-hex
.-bar: .-data
  p.-shade 500
  p.-hex
.-bar: .-data
  p.-shade 600
  p.-hex
.-bar: .-data
  p.-shade 700
  p.-hex
.-bar: .-data
  p.-shade 800
  p.-hex
.-bar: .-data
  p.-shade 900
  p.-hex
