//----------------------------------------------------
// SCSS Variable: MOFTONE v6.1.0 CC0 by Qrac
//----------------------------------------------------

$red-50 ?= lighten(desaturate(#ffebee, 10%), 1%)
$red-100 ?= lighten(desaturate(#ffcdd2, 10%), 2%)
$red-200 ?= lighten(desaturate(#ef9a9a, 10%), 2%)
$red-300 ?= lighten(desaturate(#e57373, 10%), 2%)
$red-400 ?= lighten(desaturate(#ef5350, 15%), 3%)
$red-500 ?= lighten(desaturate(#f44336, 15%), 3%)
$red-600 ?= lighten(desaturate(#e53935, 15%), 3%)
$red-700 ?= lighten(desaturate(#d32f2f, 15%), 3%)
$red-800 ?= lighten(desaturate(#c62828, 15%), 3%)
$red-900 ?= lighten(desaturate(#b71c1c, 15%), 3%)
$red-a100 ?= lighten(desaturate(#ff8a80, 25%), 3%)
$red-a200 ?= lighten(desaturate(#ff5252, 25%), 3%)
$red-a400 ?= lighten(desaturate(#ff1744, 25%), 3%)
$red-a700 ?= lighten(desaturate(#d50000, 25%), 3%)

$pink-50 ?= lighten(desaturate(#fce4ec, 25%), 1%)
$pink-100 ?= lighten(desaturate(#f8bbd0, 25%), 3%)
$pink-200 ?= lighten(desaturate(#f48fb1, 25%), 3%)
$pink-300 ?= lighten(desaturate(#f06292, 25%), 3%)
$pink-400 ?= lighten(desaturate(#ec407a, 25%), 3%)
$pink-500 ?= lighten(desaturate(#e91e63, 25%), 3%)
$pink-600 ?= lighten(desaturate(#d81b60, 25%), 3%)
$pink-700 ?= lighten(desaturate(#c2185b, 25%), 3%)
$pink-800 ?= lighten(desaturate(#ad1457, 25%), 3%)
$pink-900 ?= lighten(desaturate(#880e4f, 25%), 3%)
$pink-a100 ?= lighten(desaturate(#ff80ab, 25%), 3%)
$pink-a200 ?= lighten(desaturate(#ff4081, 25%), 3%)
$pink-a400 ?= lighten(desaturate(#f50057, 25%), 3%)
$pink-a700 ?= lighten(desaturate(#c51162, 25%), 3%)

$purple-50 ?= lighten(desaturate(#f3e5f5, 15%), 1%)
$purple-100 ?= lighten(desaturate(#e1bee7, 15%), 1%)
$purple-200 ?= lighten(desaturate(#ce93d8, 15%), 1%)
$purple-300 ?= lighten(desaturate(#ba68c8, 15%), 1%)
$purple-400 ?= lighten(desaturate(#ab47bc, 15%), 1%)
$purple-500 ?= lighten(desaturate(#9c27b0, 25%), 3%)
$purple-600 ?= lighten(desaturate(#8e24aa, 25%), 3%)
$purple-700 ?= lighten(desaturate(#7b1fa2, 25%), 3%)
$purple-800 ?= lighten(desaturate(#6a1b9a, 25%), 3%)
$purple-900 ?= lighten(desaturate(#4a148c, 25%), 3%)
$purple-a100 ?= lighten(desaturate(#ea80fc, 25%), 3%)
$purple-a200 ?= lighten(desaturate(#e040fb, 25%), 3%)
$purple-a400 ?= lighten(desaturate(#d500f9, 25%), 3%)
$purple-a700 ?= lighten(desaturate(#aa00ff, 25%), 3%)

$deep-purple-50 ?= lighten(desaturate(#ede7f6, 15%), 1%)
$deep-purple-100 ?= lighten(desaturate(#d1c4e9, 15%), 1%)
$deep-purple-200 ?= lighten(desaturate(#b39ddb, 15%), 1%)
$deep-purple-300 ?= lighten(desaturate(#9575cd, 15%), 1%)
$deep-purple-400 ?= lighten(desaturate(#7e57c2, 15%), 1%)
$deep-purple-500 ?= lighten(desaturate(#673ab7, 25%), 3%)
$deep-purple-600 ?= lighten(desaturate(#5e35b1, 25%), 3%)
$deep-purple-700 ?= lighten(desaturate(#512da8, 25%), 3%)
$deep-purple-800 ?= lighten(desaturate(#4527a0, 25%), 3%)
$deep-purple-900 ?= lighten(desaturate(#311b92, 25%), 3%)
$deep-purple-a100 ?= lighten(desaturate(#b388ff, 15%), 3%)
$deep-purple-a200 ?= lighten(desaturate(#7c4dff, 15%), 3%)
$deep-purple-a400 ?= lighten(desaturate(#651fff, 15%), 3%)
$deep-purple-a700 ?= lighten(desaturate(#6200ea, 15%), 3%)

$indigo-50 ?= lighten(desaturate(#e8eaf6, 15%), 1%)
$indigo-100 ?= lighten(desaturate(#c5cae9, 15%), 1%)
$indigo-200 ?= lighten(desaturate(#9fa8da, 15%), 1%)
$indigo-300 ?= lighten(desaturate(#7986cb, 15%), 1%)
$indigo-400 ?= lighten(desaturate(#5c6bc0, 15%), 1%)
$indigo-500 ?= lighten(desaturate(#3f51b5, 25%), 3%)
$indigo-600 ?= lighten(desaturate(#3949ab, 25%), 3%)
$indigo-700 ?= lighten(desaturate(#303f9f, 25%), 3%)
$indigo-800 ?= lighten(desaturate(#283593, 25%), 3%)
$indigo-900 ?= lighten(desaturate(#1a237e, 25%), 3%)
$indigo-a100 ?= lighten(desaturate(#8c9eff, 25%), 3%)
$indigo-a200 ?= lighten(desaturate(#536dfe, 25%), 3%)
$indigo-a400 ?= lighten(desaturate(#3d5afe, 25%), 3%)
$indigo-a700 ?= lighten(desaturate(#304ffe, 25%), 3%)

$blue-50 ?= lighten(desaturate(#e3f2fd, 25%), 0%)
$blue-100 ?= lighten(desaturate(#bbdefb, 25%), 3%)
$blue-200 ?= lighten(desaturate(#90caf9, 25%), 3%)
$blue-300 ?= lighten(desaturate(#64b5f6, 25%), 3%)
$blue-400 ?= lighten(desaturate(#42a5f5, 25%), 3%)
$blue-500 ?= lighten(desaturate(#2196f3, 25%), 3%)
$blue-600 ?= lighten(desaturate(#1e88e5, 25%), 3%)
$blue-700 ?= lighten(desaturate(#1976d2, 25%), 3%)
$blue-800 ?= lighten(desaturate(#1565c0, 25%), 3%)
$blue-900 ?= lighten(desaturate(#0d47a1, 25%), 3%)
$blue-a100 ?= lighten(desaturate(#82b1ff, 25%), 3%)
$blue-a200 ?= lighten(desaturate(#448aff, 25%), 3%)
$blue-a400 ?= lighten(desaturate(#2979ff, 25%), 3%)
$blue-a700 ?= lighten(desaturate(#2962ff, 25%), 3%)

$light-blue-50 ?= lighten(desaturate(#e1f5fe, 25%), 3%)
$light-blue-100 ?= lighten(desaturate(#b3e5fc, 25%), 3%)
$light-blue-200 ?= lighten(desaturate(#81d4fa, 25%), 3%)
$light-blue-300 ?= lighten(desaturate(#4fc3f7, 25%), 3%)
$light-blue-400 ?= lighten(desaturate(#29b6f6, 25%), 3%)
$light-blue-500 ?= lighten(desaturate(#03a9f4, 25%), 3%)
$light-blue-600 ?= lighten(desaturate(#039be5, 25%), 3%)
$light-blue-700 ?= lighten(desaturate(#0288d1, 25%), 3%)
$light-blue-800 ?= lighten(desaturate(#0277bd, 25%), 3%)
$light-blue-900 ?= lighten(desaturate(#01579b, 25%), 3%)
$light-blue-a100 ?= lighten(desaturate(#80d8ff, 20%), 3%)
$light-blue-a200 ?= lighten(desaturate(#40c4ff, 20%), 3%)
$light-blue-a400 ?= lighten(desaturate(#00b0ff, 20%), 3%)
$light-blue-a700 ?= lighten(desaturate(#0091ea, 20%), 3%)

$cyan-50 ?= lighten(desaturate(#e0f7fa, 15%), 2%)
$cyan-100 ?= lighten(desaturate(#b2ebf2, 15%), 5%)
$cyan-200 ?= lighten(desaturate(#80deea, 15%), 5%)
$cyan-300 ?= lighten(desaturate(#4dd0e1, 15%), 5%)
$cyan-400 ?= lighten(desaturate(#26c6da, 15%), 5%)
$cyan-500 ?= lighten(desaturate(#00bcd4, 25%), 3%)
$cyan-600 ?= lighten(desaturate(#00acc1, 15%), 0%)
$cyan-700 ?= lighten(desaturate(#0097a7, 15%), 0%)
$cyan-800 ?= lighten(desaturate(#00838f, 15%), 0%)
$cyan-900 ?= lighten(desaturate(#006064, 15%), 0%)
$cyan-a100 ?= lighten(desaturate(#84ffff, 25%), 3%)
$cyan-a200 ?= lighten(desaturate(#18ffff, 25%), 3%)
$cyan-a400 ?= lighten(desaturate(#00e5ff, 25%), 3%)
$cyan-a700 ?= lighten(desaturate(#00b8d4, 25%), 3%)

$teal-50 ?= lighten(desaturate(#e0f2f1, 10%), 1%)
$teal-100 ?= lighten(desaturate(#b2dfdb, 10%), 3%)
$teal-200 ?= lighten(desaturate(#80cbc4, 10%), 3%)
$teal-300 ?= lighten(desaturate(#4db6ac, 10%), 3%)
$teal-400 ?= lighten(desaturate(#26a69a, 15%), 3%)
$teal-500 ?= lighten(desaturate(#009688, 25%), 3%)
$teal-600 ?= lighten(desaturate(#00897b, 25%), 3%)
$teal-700 ?= lighten(desaturate(#00796b, 25%), 3%)
$teal-800 ?= lighten(desaturate(#00695c, 25%), 3%)
$teal-900 ?= lighten(desaturate(#004d40, 25%), 3%)
$teal-a100 ?= lighten(desaturate(#a7ffeb, 25%), 3%)
$teal-a200 ?= lighten(desaturate(#64ffda, 25%), 3%)
$teal-a400 ?= lighten(desaturate(#1de9b6, 25%), 3%)
$teal-a700 ?= lighten(desaturate(#00bfa5, 25%), 3%)

$green-50 ?= lighten(desaturate(#e8f5e9, 7%), 1%)
$green-100 ?= lighten(desaturate(#c8e6c9, 7%), 3%)
$green-200 ?= lighten(desaturate(#a5d6a7, 7%), 3%)
$green-300 ?= lighten(desaturate(#81c784, 7%), 3%)
$green-400 ?= lighten(desaturate(#66bb6a, 7%), 3%)
$green-500 ?= lighten(desaturate(#4caf50, 7%), 3%)
$green-600 ?= lighten(desaturate(#43a047, 7%), 3%)
$green-700 ?= lighten(desaturate(#388e3c, 7%), 3%)
$green-800 ?= lighten(desaturate(#2e7d32, 7%), 3%)
$green-900 ?= lighten(desaturate(#1b5e20, 7%), 3%)
$green-a100 ?= lighten(desaturate(#b9f6ca, 25%), 3%)
$green-a200 ?= lighten(desaturate(#69f0ae, 25%), 3%)
$green-a400 ?= lighten(desaturate(#00e676, 25%), 3%)
$green-a700 ?= lighten(desaturate(#00c853, 25%), 3%)

$light-green-50 ?= lighten(desaturate(#f1f8e9, 7%), 1%)
$light-green-100 ?= lighten(desaturate(#dcedc8, 7%), 3%)
$light-green-200 ?= lighten(desaturate(#c5e1a5, 7%), 3%)
$light-green-300 ?= lighten(desaturate(#aed581, 7%), 3%)
$light-green-400 ?= lighten(desaturate(#9ccc65, 7%), 3%)
$light-green-500 ?= lighten(desaturate(#8bc34a, 7%), 3%)
$light-green-600 ?= lighten(desaturate(#7cb342, 7%), 3%)
$light-green-700 ?= lighten(desaturate(#689f38, 7%), 3%)
$light-green-800 ?= lighten(desaturate(#558b2f, 7%), 3%)
$light-green-900 ?= lighten(desaturate(#33691e, 7%), 3%)
$light-green-a100 ?= lighten(desaturate(#ccff90, 25%), 3%)
$light-green-a200 ?= lighten(desaturate(#b2ff59, 25%), 3%)
$light-green-a400 ?= lighten(desaturate(#76ff03, 25%), 3%)
$light-green-a700 ?= lighten(desaturate(#64dd17, 25%), 3%)

$lime-50 ?= lighten(desaturate(#f9fbe7, 15%), 0%)
$lime-100 ?= lighten(desaturate(#f0f4c3, 15%), 3%)
$lime-200 ?= lighten(desaturate(#e6ee9c, 15%), 3%)
$lime-300 ?= lighten(desaturate(#dce775, 15%), 3%)
$lime-400 ?= lighten(desaturate(#d4e157, 15%), 3%)
$lime-500 ?= lighten(desaturate(#cddc39, 15%), 3%)
$lime-600 ?= lighten(desaturate(#c0ca33, 15%), 3%)
$lime-700 ?= lighten(desaturate(#afb42b, 15%), 3%)
$lime-800 ?= lighten(desaturate(#9e9d24, 15%), 3%)
$lime-900 ?= lighten(desaturate(#827717, 15%), 3%)
$lime-a100 ?= lighten(desaturate(#f4ff81, 25%), 3%)
$lime-a200 ?= lighten(desaturate(#eeff41, 25%), 3%)
$lime-a400 ?= lighten(desaturate(#c6ff00, 25%), 3%)
$lime-a700 ?= lighten(desaturate(#aeea00, 25%), 3%)

$yellow-50 ?= lighten(desaturate(#fffde7, 15%), 0%)
$yellow-100 ?= lighten(desaturate(#fff9c4, 15%), 3%)
$yellow-200 ?= lighten(desaturate(#fff59d, 15%), 3%)
$yellow-300 ?= lighten(desaturate(#fff176, 15%), 3%)
$yellow-400 ?= lighten(desaturate(#ffee58, 15%), 3%)
$yellow-500 ?= lighten(desaturate(#ffeb3b, 15%), 3%)
$yellow-600 ?= lighten(desaturate(#fdd835, 15%), 3%)
$yellow-700 ?= lighten(desaturate(#fbc02d, 15%), 3%)
$yellow-800 ?= lighten(desaturate(#f9a825, 15%), 3%)
$yellow-900 ?= lighten(desaturate(#f57f17, 20%), 5%)
$yellow-a100 ?= lighten(desaturate(#ffff8d, 20%), 3%)
$yellow-a200 ?= lighten(desaturate(#ffff00, 20%), 3%)
$yellow-a400 ?= lighten(desaturate(#ffea00, 20%), 3%)
$yellow-a700 ?= lighten(desaturate(#ffd600, 20%), 3%)

$amber-50 ?= lighten(desaturate(#fff8e1, 20%), 1%)
$amber-100 ?= lighten(desaturate(#ffecb3, 20%), 3%)
$amber-200 ?= lighten(desaturate(#ffe082, 20%), 3%)
$amber-300 ?= lighten(desaturate(#ffd54f, 20%), 3%)
$amber-400 ?= lighten(desaturate(#ffca28, 20%), 3%)
$amber-500 ?= lighten(desaturate(#ffc107, 20%), 3%)
$amber-600 ?= lighten(desaturate(#ffb300, 20%), 3%)
$amber-700 ?= lighten(desaturate(#ffa000, 20%), 3%)
$amber-800 ?= lighten(desaturate(#ff8f00, 20%), 3%)
$amber-900 ?= lighten(desaturate(#ff6f00, 20%), 3%)
$amber-a100 ?= lighten(desaturate(#ffe57f, 20%), 3%)
$amber-a200 ?= lighten(desaturate(#ffd740, 20%), 3%)
$amber-a400 ?= lighten(desaturate(#ffc400, 20%), 3%)
$amber-a700 ?= lighten(desaturate(#ffab00, 20%), 3%)

$orange-50 ?= lighten(desaturate(#fff3e0, 20%), 1%)
$orange-100 ?= lighten(desaturate(#ffe0b2, 20%), 3%)
$orange-200 ?= lighten(desaturate(#ffcc80, 20%), 3%)
$orange-300 ?= lighten(desaturate(#ffb74d, 20%), 3%)
$orange-400 ?= lighten(desaturate(#ffa726, 20%), 3%)
$orange-500 ?= lighten(desaturate(#ff9800, 20%), 3%)
$orange-600 ?= lighten(desaturate(#fb8c00, 20%), 3%)
$orange-700 ?= lighten(desaturate(#f57c00, 20%), 3%)
$orange-800 ?= lighten(desaturate(#ef6c00, 20%), 3%)
$orange-900 ?= lighten(desaturate(#e65100, 20%), 3%)
$orange-a100 ?= lighten(desaturate(#ffd180, 20%), 3%)
$orange-a200 ?= lighten(desaturate(#ffab40, 20%), 3%)
$orange-a400 ?= lighten(desaturate(#ff9100, 20%), 3%)
$orange-a700 ?= lighten(desaturate(#ff6d00, 20%), 3%)

$deep-orange-50 ?= lighten(desaturate(#fbe9e7, 20%), 1%)
$deep-orange-100 ?= lighten(desaturate(#ffccbc, 20%), 3%)
$deep-orange-200 ?= lighten(desaturate(#ffab91, 20%), 3%)
$deep-orange-300 ?= lighten(desaturate(#ff8a65, 20%), 3%)
$deep-orange-400 ?= lighten(desaturate(#ff7043, 20%), 3%)
$deep-orange-500 ?= lighten(desaturate(#ff5722, 20%), 3%)
$deep-orange-600 ?= lighten(desaturate(#f4511e, 20%), 3%)
$deep-orange-700 ?= lighten(desaturate(#e64a19, 20%), 3%)
$deep-orange-800 ?= lighten(desaturate(#d84315, 20%), 3%)
$deep-orange-900 ?= lighten(desaturate(#bf360c, 20%), 3%)
$deep-orange-a100 ?= lighten(desaturate(#ff9e80, 25%), 3%)
$deep-orange-a200 ?= lighten(desaturate(#ff6e40, 25%), 3%)
$deep-orange-a400 ?= lighten(desaturate(#ff3d00, 25%), 3%)
$deep-orange-a700 ?= lighten(desaturate(#dd2c00, 25%), 3%)

$brown-50 ?= lighten(desaturate(#efebe9, 6%), 1%)
$brown-100 ?= lighten(desaturate(#d7ccc8, 6%), 3%)
$brown-200 ?= lighten(desaturate(#bcaaa4, 6%), 3%)
$brown-300 ?= lighten(desaturate(#a1887f, 6%), 3%)
$brown-400 ?= lighten(desaturate(#8d6e63, 6%), 3%)
$brown-500 ?= lighten(desaturate(#795548, 10%), 3%)
$brown-600 ?= lighten(desaturate(#6d4c41, 10%), 3%)
$brown-700 ?= lighten(desaturate(#5d4037, 10%), 3%)
$brown-800 ?= lighten(desaturate(#4e342e, 10%), 3%)
$brown-900 ?= lighten(desaturate(#3e2723, 10%), 3%)

$grey-50 ?= lighten(desaturate(#fafafa, 10%), 0%)
$grey-100 ?= lighten(desaturate(#f5f5f5, 10%), 0%)
$grey-200 ?= lighten(desaturate(#eeeeee, 10%), 0%)
$grey-300 ?= lighten(desaturate(#e0e0e0, 10%), 0%)
$grey-400 ?= lighten(desaturate(#bdbdbd, 10%), 0%)
$grey-500 ?= lighten(desaturate(#9e9e9e, 10%), 0%)
$grey-600 ?= lighten(desaturate(#757575, 10%), 0%)
$grey-700 ?= lighten(desaturate(#616161, 10%), 0%)
$grey-800 ?= lighten(desaturate(#424242, 10%), 0%)
$grey-900 ?= lighten(desaturate(#212121, 10%), 0%)

$blue-grey-50 ?= lighten(desaturate(#eceff1, 5%), 0%)
$blue-grey-100 ?= lighten(desaturate(#cfd8dc, 5%), 0%)
$blue-grey-200 ?= lighten(desaturate(#b0bec5, 5%), 0%)
$blue-grey-300 ?= lighten(desaturate(#90a4ae, 5%), 0%)
$blue-grey-400 ?= lighten(desaturate(#78909c, 5%), 0%)
$blue-grey-500 ?= lighten(desaturate(#607d8b, 5%), 0%)
$blue-grey-600 ?= lighten(desaturate(#546e7a, 5%), 0%)
$blue-grey-700 ?= lighten(desaturate(#455a64, 5%), 0%)
$blue-grey-800 ?= lighten(desaturate(#37474f, 5%), 0%)
$blue-grey-900 ?= lighten(desaturate(#263238, 5%), 0%)

$black ?= #000000
$white ?= #ffffff